.gre {
    background-color: aqua;
    color: rgb(164, 207, 11);
}

#firstdiv {
    background-color: rgb(114, 32, 69);
}

span {
    color: rgb(35, 177, 130);
    background-color: rgb(53, 8, 234);
}

#seconddiv {
    color: coral;
    background-color: blue;
}

#three {
    background-color: brown;
    color: blueviolet;
}

#new {
    color: blueviolet;
    background-color: chocolate;
}

#Vedant {
    background-color: cadetblue;
    color: bisque;
}

#b {
    color: blueviolet;
    background-color: black;
}